.panels {
    width: 900px;
    position: relative;
    display: flex;

    ul {
        border: 1px solid red;

        li {
            list-style: none;
            display: flex;

            .panel-control {
                display: flex;
            }

            input {
                display: none;
            }

            label {
                background-color: white;
                width: 100px;
                height: 100px;
                font-size: 1.5rem;
                cursor: pointer;
            }

            input[id^="panel"] {
                &:checked+label {
                    display: flex;
                    background-color: red;
                    color: white;
                }
            }

            .panel-content {
                display: none;
            }

            .panel-text {
                background-color: aqua;
                // position: absolute;
                // left: 50;
                // top: 0;
                // bottom: 0;
                padding: 1.5rem;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.30);
                display: flex;
            }

            input[id^="panel"] {
                &:checked~.panel-content {
                    display: block;
                }
            }

            h2 {
                margin: 0;
                font-size: 2rem;
            }

            p {
                margin: 0;
                text-align: justify;
            }
        }
    }

    .image-portrait {
        background-color: red;
        height: 900px;
        width: 300px;
        border: 1px solid blue;
        // background-image: url("images/image1.png");
        // background-size: cover;
    }
}