* {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: powderblue;
}

.wrapper {
  width: 900px;
  position: relative;
  border: 1px solid green;
}
.wrapper ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.wrapper ul li {
  list-style: none;
}
.wrapper ul li input {
  filter: blur(100px);
  display: none;
}
.wrapper ul li label {
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 600;
}
.wrapper ul li input[id^=tab]:checked + label {
  display: flex;
  background-color: pink;
  color: black;
}
.wrapper ul li .tab_content {
  background: white;
  position: absolute;
  left: 0;
  top: 50px;
  padding: 25px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  display: none;
}
.wrapper ul li input[id^=tab]:checked ~ .tab_content {
  display: inline-block;
}
.wrapper ul li h2 {
  margin: 0;
  font-size: 2rem;
}
.wrapper ul li p {
  font-size: 1rem;
  margin: 0;
  text-align: justify;
}
.wrapper .image {
  height: 300px;
  width: 900px;
  border: 1px solid blue;
  background-image: url("images/image1.png");
}

.panels {
  width: 900px;
  position: relative;
}
.panels ul {
  border: 1px solid red;
}
.panels ul li {
  list-style: none;
  display: flex;
}
.panels ul li .panel-control {
  display: flex;
}
.panels ul li input {
  display: none;
}
.panels ul li label {
  background-color: white;
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  cursor: pointer;
}
.panels ul li input[id^=panel]:checked + label {
  display: flex;
  background-color: red;
  color: white;
}
.panels ul li .panel-content {
  display: none;
}
.panels ul li .panel-text {
  background-color: aqua;
  position: absolute;
  left: 50;
  top: 0;
  bottom: 0;
  padding: 1.5rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  display: flex;
}
.panels ul li input[id^=panel]:checked ~ .panel-content {
  display: block;
}
.panels ul li h2 {
  margin: 0;
  font-size: 2rem;
}
.panels ul li p {
  margin: 0;
  text-align: justify;
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.radio-group .radio-with-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.radio-group .radio-with-card input:checked ~ .card {
  opacity: 1;
}
.radio-group .radio-with-card label {
  margin-right: 10px;
}
.radio-group .radio-with-card .card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: red;
  opacity: 0.5;
}
.radio-group .radio-with-card .card .card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.radio-group .radio-with-card .card .card-body {
  font-size: 16px;
}